<% if(!login) {%>
      <% include header.ejs %>
      <h2>Sign in</h2>
      <form action="/login" method="POST">
            
            <input type="text" name="username"  placeholder="Username or email">
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
          <input type="submit" value='Login' class="float"></input>
          <hr/> <br>
          <a href="/register">Register Account </a><br>

      </form>
      <% }else{%>
            <meta http-equiv="refresh" content="0; url=/index" />

            <% }%>