<h2>Register</h2>
<form action="/register" method="POST">

      <input type="text" name="username"  placeholder="Username or email">

      <input type="password" name="password" placeholder="Password">

    <button type="submit" class="float">Login</button>
</form>